header {
  background: #66cdcc;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #66cdcc), color-stop(100%, #336799));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
  /* IE10+ */
  background: linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66cdcc, endColorstr=#336799, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

body{
  background: #ffffff;
  color: #336799;  
}

#btn-round-xl {
    border: 3px solid #66cdcc;
    padding: 5px 20px; 
    background: #1D92AF;
    width: 200px;
    height: 170px;
    border-radius: 1em;
    color: #ffffff;
}

#btn-round {
    border: 3px solid #66cdcc;
    padding: 5px 20px; 
    background: #336799;
    width: 250px;
    border-radius: 3em;
    color: #ffffff;
}

#btn-round-md {
    border: 3px solid #66cdcc;
    padding: 5px 15px; 
    background: #336799;
    width: 180px;
    border-radius: 3em;
    color: #ffffff;
}

#btn-round-sm {
    border: 2px solid #66cdcc;
    padding: 5px 10px; 
    background: #336799;
    width: 110px;
    height: 45px;
    border-radius: 3em;
    color: #ffffff;
}

#btn-round-xs {
    border: 2px solid #66cdcc;
    padding: 5px 10px; 
    background: #336799;
    width: 55px;
    height: 45px;
    border-radius: 1em;
    color: #ffffff;
}


#btn-round-xxs {
    border: 2px solid #66cdcc;
    padding: 5px 10px; 
    background: #336799;
    width: 45px;
    height: 40px;
    border-radius: 1em;
    color: #ffffff;
}

#btn-round-4xs {
    border: 2px solid #66cdcc;
    padding: 1px 4px; 
    background: #336799;
    width: 30px;
    height: 25px;
    border-radius: 0.5em;
    color: #ffffff;
}

#btn-round-web {
    border: 2px solid #66cdcc;
    padding: 5px 10px; 
    background: #336799;
    width: 150px;
    height: 45px;
    border-radius: 2em;
    color: #ffffff;
}


#btn-round-xxxs {
    border: 2px solid #66cdcc;
    padding: 3px 5px; 
    background: #336799;
    width: 35px;
    height: 30px;
    border-radius: 0.8em;
    color: #ffffff;
}

#white{
  color: #336799;    
}

#summary{
    font-size: 17px;  
}

#default{
    font-size: 15px;
}

#font-l{
    font-size: 20px;
}
#font-xl{
    font-size: 22px;
}

#font-m{
    font-size: 16px;
}

#label{
    font-weight: bold;
}

#job-list {
    border: 2px solid #66cdcc;
    padding: 10px 30px; 
    border-radius: 1em;
    font-size: 18px;
}

#inv-list {
    border: 1px solid #66cdcc;
    padding: 10px 30px; 
    border-radius: 1em;
    font-size: 15px;
}

#sign-box {
    border: 1px solid #66cdcc;
    padding: 10px 20px; 
    border-radius: 1em;
    height: 150px;
    font-size: 15px;
}









